<form [formGroup]="regForm" (ngSubmit)="processForm()">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" size="30" formControlName="name">
                <div *ngIf="isControlInvalid('name')">
                    Please enter your name
                </div>
            </td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td>
                <input type="text" size="30" formControlName="email">
                <div *ngIf="isControlInvalid('email')">
                    Please enter a valid e-mail
                </div>
            </td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>
                <input type="number" size="30" formControlName="age">
                <div *ngIf="isControlInvalid('age')">
                    You have to be above 18 years of age
                </div>
            </td>
        </tr>
        <tr>
            <td>Attending:</td>
            <td>
                <select formControlName="attendance">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
                <div *ngIf="isControlInvalid('attendance')">
                    Will you be attending?
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" [disabled]="regForm.invalid">
                    RSVP {{ regForm.invalid }}
                </button>
            </td>
        </tr>
        <tr>
            <td *ngFor="let r of rsvps">
                <span>{{ r.name }}</span>
                <br>
                <span>{{ r.email }}</span>
                <br>
                <span>{{ r.age }}</span>
                <br>
                <span>{{ r.attendance }}</span>
            </td>

        </tr>
    </table>
    <br>
    <div>
        <table>
            <tr>
                <td>Pristine Status: </td>
                    <div class="box-it">
                        <td>{{ regForm.pristine }}</td>
                    </div>
            </tr>
            <tr>
              <td>Dirty Status: </td>
              <div class="box-it">
                <td>{{ regForm.dirty }}</td>
              </div>
            </tr>
          </table>
    </div>
</form>
